<h2>Listings: </h2>
<app-add-listing></app-add-listing>
<div class="row">
  <div class="col-lg-4 mb-2"  *ngFor="let property of properties | async">
    <div class="card">
      <h4 class="card-header bg-primary text-white">Owner: {{property.owner}}</h4>
      <div class="card-body bg-light">
        <p class="card-text">Bedrooms: {{property.bedrooms}}</p>
        <p class="card-text">City: {{property.city}}</p>
        <p class="card-text">Title: {{property.title}}</p>
        <p class="card-text">Type: {{property.type}}</p>
        <p class="card-text">Type: {{property.$key}}</p>
        <app-remove-listing [propertyKey]="property"></app-remove-listing>
      </div>
    </div>
  </div>
</div>
